# PostgreSQL Database URL
DATABASE_URL="postgresql://postgres:password@localhost:5432/kisansetu?schema=public"

# JWT Secret Key for Officer & Farmer Authentication
JWT_SECRET="kisansetu_production_secure_jwt_secret_key_2026"

# Port (Defaults to 5000)
PORT=5000
